* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4774c;
  }
  
  /* nav bar  */
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #af6450;
  }
  
  .navContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .navContainer > div {
    display: flex;
    gap: 20px;
  }
  
  .blockOne,
  .blockTwo,
  .blockThree {
    background-color: #98c2c2;
    width: 100px;
    height: 30px;
  }
  
  .blockFour {
    height: 40px;
    width: 500px;
    background-color: #f18a64;
  }
  
  /* main body */
  
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
  }
  
  .articleOne {
    height: 500px;
    width: 60%;
    background-color: #93c4c9;
    border: solid white 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .articleContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .articleTwo,
  .articleThree {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .textContainer > div {
    margin-bottom: 5px;
    background-color: gray;
  }
  
  .textSkeletonOne {
    height: 25px;
    width: 200px;
  }
  
  .textSkeletonTwo {
    height: 25px;
    width: 150px;
  }
  
  .articleTwo {
    background-color: white;
  }
  .articleThree {
    background-color: #93c4c9;
  }
  
  @media screen and (max-width: 850px) {
    body{
      background-color:#e85105;
    }
    .main{
      flex-direction: column;
    }
    .articleOne{
      width: 100%;
    }
    .articleContainer{
      width: 100%;
    }
    /* .articleTwo,
    .articleThree{
      width: 50%;
    } */
    .telephoneImage,
    .fileImage{
      width: 70px;
    }
  }
  
  @media screen and (max-width:576px) {
    body{
      background-color: #158c0b;
    }
    .main{
      padding: 20px;
    }
    .articleContainer{
      flex-direction: column;
    }
    .navContainer > div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .blockOne,
    .blockTwo,
    .blockThree {
      width: 70px;
      height: 10px;
      background-color: #1497e8;
    }
  }